{% extends 'base.html.twig' %}

{% block title %}Signatur{% endblock %}

{% block body %}
    <main class="container">
        <div class="flex-1 p-10">
            <div class="my-header-grid">
                <h1 class="text-3xl font-bold mb-4">Signatur</h1>

                <div>
                    <a role="button" href="{{ path('logout') }}" class="small-button outline">Logout</a>
                </div>
            </div>
        </div>
    </main>
    <main class="container-fluid">
        <div>
        </div>
        <div class="my-body-grid">
            {% include '_sidebar.html.twig' %}
        </div>
    </main>
{% endblock %}
