:root {
    --pico-border-radius: 2rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-line-height: 0.8;
}
h1 {
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
}
button {
    --pico-font-weight: 700;
    max-height: 20px;
}
a {
    min-height: 10px;
}
.my-header-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem; /* optional */
}

.my-body-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem; /* optional */
}

.my-client-grid {
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 1rem; /* optional */
}
