{% extends 'base.html.twig' %}

{% block title %}Signatur{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-container bg-white-800 p-8 overflow-x-auto">
            <h3 class="text-uppercase mb-4">E-Mail Signatur</h3>
            <div class="bg-white">
                <hr>
                <div class="no-pico-wrapper">
                    <div id="signature">
                        {{ include('signature/signature.html.twig') }}
                    </div>
                </div>
                <hr>
            </div>
            <button id="copy-signature">Signatur kopieren</button>
            <div class="email-signature">
                <a role="button" class="btn-center" href="{{ path('homepage') }}">zurück zur Liste</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ importmap('signature') }}
{% endblock %}
